:root, [data-bs-theme=light] {
  --bs-primary: #04aa6d;
  --bs-primary-rgb: 4,170,109;
  --bs-primary-text-emphasis: #02442C;
  --bs-primary-bg-subtle: #CDEEE2;
  --bs-primary-border-subtle: #9BDDC5;
  --bs-link-color: #04aa6d;
  --bs-link-color-rgb: 4,170,109;
  --bs-link-hover-color: #32e2a2;
  --bs-link-hover-color-rgb: 50,226,162;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #04aa6d;
  --bs-btn-border-color: #04aa6d;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2AB783;
  --bs-btn-hover-border-color: #1DB37C;
  --bs-btn-focus-shadow-rgb: 1,26,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #36BB8A;
  --bs-btn-active-border-color: #1DB37C;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #04aa6d;
  --bs-btn-disabled-border-color: #04aa6d;
}

.btn-outline-primary {
  --bs-btn-color: #04aa6d;
  --bs-btn-border-color: #04aa6d;
  --bs-btn-focus-shadow-rgb: 4,170,109;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #04aa6d;
  --bs-btn-hover-border-color: #04aa6d;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #04aa6d;
  --bs-btn-active-border-color: #04aa6d;
  --bs-btn-disabled-color: #04aa6d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #04aa6d;
}

[data-bs-theme=dark] {
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222,226,230;
  --bs-secondary-color: rgba(222,226,230,0.75);
  --bs-secondary-color-rgb: 222,226,230,0.75;
  --bs-tertiary-color: rgba(222,226,230,0.5);
  --bs-tertiary-color-rgb: 222,226,230,0.5;
  --bs-link-color: #04AA6D;
  --bs-link-color-rgb: 4,170,109;
  --bs-link-hover-color: #32e2a2;
  --bs-link-hover-color-rgb: 50,226,162;
}

